/* ----------------------------------- \
	partials/_base.scss - loaded
\ ----------------------------------- */
/* ----------------------------------- \
	partials/_colors.scss - loaded
\ ----------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Border Box */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------- \
	partials/_typography.scss - loaded
\ ----------------------------------- */
body {
  font-size: 1.6rem;
  font-family: helvetica, arial, sans-serif; }

.title, .subhead {
  font-family: "Roboto Slab", serif; }

.title {
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
  margin-top: 2.9rem; }

.subhead {
  font-size: 3rem;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: .8rem;
  margin-top: 2.8rem;
  margin-bottom: 1.4rem; }

p {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.45;
  margin: .9rem 0; }

/* ----------------------------------- \
	partials/_buttons.scss - loaded
\ ----------------------------------- */
.skill {
  border: 1px solid #c4c4c4;
  border-radius: 0.3rem;
  margin: .9rem 0;
  font-size: 1.6rem;
  line-height: 1.8125; }
  .skill span {
    background-color: #575757;
    color: white;
    padding: 0 .6rem;
    display: inline-block;
    width: 100%; }

.button {
  border: 1px solid #c4c4c4;
  border-radius: 0.3rem;
  background-color: #575757;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  display: block;
  line-height: 4.8rem;
  margin: .9rem 0; }

.half-width {
  width: 48.5%;
  margin-top: 0; }

.left {
  float: left; }

.right {
  float: right; }

.nav-button {
  background-image: url("../icons/nav-button.svg");
  background-repeat: none;
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  top: 0.45rem;
  right: 3%; }

#top-nav-links li a {
  display: block;
  color: #c2c2c2;
  text-decoration: none;
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  font-size: 1.6rem; }

/* ----------------------------------- \
	partials/_layout.scss - loaded
\ ----------------------------------- */
html {
  font-size: 62.5%; }

.wrap {
  margin: 0 3%; }

.header {
  background-color: #575757;
  color: white; }
  .header h1 {
    font-size: 2.4rem;
    line-height: 6rem; }

.intro-text {
  border: 1px solid #c4c4c4;
  border-left: 0;
  border-right: 0; }
  .intro-text p {
    font-style: italic;
    margin-bottom: .9rem;
    color: #575757; }

.profile-picture {
  width: 100%;
  margin: 2.9rem 0 0 0; }

.nav-show {
  display: block; }

.nav-hide {
  display: none; }

/* ----------------------------------- \
	partials/_mediaqueries.scss - loaded
\ ----------------------------------- */
.wrap {
  display: flex;
  flex-flow: row wrap;
  max-width: 95rem; }

.header .wrap {
  display: block; }

@media all and (min-width: 650px) {
  .nav-button {
    display: none; }

  #top-nav-links {
    display: block; }

  .header {
    height: 6rem; }
    .header .wrap {
      display: table;
      width: 94%; }
      .header .wrap h1 {
        display: table-cell;
        width: 30%;
        vertical-align: middle; }
      .header .wrap nav {
        display: table-cell;
        height: 6rem;
        width: 70%; }
        .header .wrap nav #top-nav-links {
          height: 100%;
          float: right; }
          .header .wrap nav #top-nav-links li {
            float: left;
            height: 100%; }
          .header .wrap nav #top-nav-links a {
            display: inline-block;
            padding: 0 2rem;
            height: 5.2rem;
            margin-top: .8rem;
            border-top: 0; }
          .header .wrap nav #top-nav-links .current-page {
            background-color: white;
            color: black; }
          .header .wrap nav #top-nav-links .current-page:hover {
            opacity: 1; }
          .header .wrap nav #top-nav-links a:hover {
            opacity: .8;
            background-color: white;
            color: black; }
          .header .wrap nav #top-nav-links a:active {
            background-color: white;
            opacity: 1; } }
@media all and (min-width: 1010px) {
  .wrap {
    margin: auto; } }
.min-profil .intro, .min-profil .about, .min-profil .kontakt {
  flex: 1 100%; }
.min-profil .intro {
  order: 1; }
.min-profil .kompetencer {
  order: 2; }
.min-profil .about {
  order: 3; }
.min-profil .kontakt {
  order: 4; }
@media all and (min-width: 650px) {
  .min-profil .wrap {
    display: block; }
  .min-profil .intro, .min-profil .about, .min-profil .kontakt, .min-profil .kompetencer {
    float: right; }
  .min-profil .intro, .min-profil .about {
    width: 55%;
    margin-right: 5%; }
  .min-profil .kompetencer {
    width: 40%; }
  .min-profil .kontakt {
    width: 100%; } }
@media all and (min-width: 770px) {
  .min-profil .intro, .min-profil .about, .min-profil .kontakt {
    width: 65%;
    margin-right: 5%; }
  .min-profil .kompetencer {
    width: 30%; } }
