/* ----------------------------------- \
	partials/_colors.scss - loaded
\ ----------------------------------- */

$accent-color: #C4C4C4;

$alt-background-color: #575757;
$alt-foreground-color: #ffffff;