/* ----------------------------------- \
	partials/_layout.scss - loaded
\ ----------------------------------- */

html { 
	font-size: 62.5%; // 1rem = 10px
}

.wrap {
	margin:0 3%;
}

.header {
	background-color: $alt-background-color;
	color: $alt-foreground-color;
	h1 {
		font-size: 2.4rem;
		line-height: 6rem;
	}
}

.intro-text {
	border: $detail-border;
	border-left:0; border-right:0;
	p {
		font-style: italic;
		margin-bottom: .9rem;
		color:$subdued-text-color;
	}
}

.profile-picture {
	width:100%;
	margin:2.9rem 0 0 0;
}

// Portfolio
.portfolio {
	.wrap {
		justify-content: space-around;
	}
}

.portfolio-item {
	max-width:400px;
}

.portfolio-img {
	position:relative;
	overflow:hidden;
	> img {
		width:100%;
		position:relative;
		border: $detail-border;
	}
	.portfolio-links{
		position:absolute;
		top:60%;
		left:0;
		bottom:0;
		right:0;
		display:flex;
		flex-flow: row wrap;
		justify-content:center;
		align-items:center;
		a {
			background-color:$alt-background-color;
			border-radius:50%;
			width:4rem;
			height:4rem;
			margin:.8rem;
			display:flex;
			flex-flow: row wrap;
			justify-content:center;
			align-items:center;
			-webkit-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.75);
			-moz-box-shadow: 0 0 1rem 0 rgba(0,0,0,0.75);
			box-shadow: 0 0 1rem 0 rgba(0,0,0,0.75);
			svg {
				width:60%;
			}
		}
	}
}

// Contact page

.contact-form {
	line-height:$base-line-height;
	label {
		margin:.3rem 0;
		font-weight:$bold-font-weight;
	}

	input, textarea {
		width:100%;
		margin:.3rem 0;
		border-radius: $border-radius;
		border:$detail-border; 
		line-height: $base-line-height;
	}
}

.social {
	width:100%;
}


// Navigation 

.nav-show {
	display:block;
}

.nav-hide {
	display:none;
}

