/* ----------------------------------- \
	partials/_lightbox.scss - loaded
\ ----------------------------------- */

#lightbox {
	position: fixed;
}

.lightbox-show {
	background-color:rgba(0, 0, 0, 0.83);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity:1;
	-webkit-transition: opacity .4s ease;
	-moz-transition: opacity .4s ease;
	transition: opacity .4s ease;
	max-width:100%;
	img {
		position:absolute;
		top:0; left:0; bottom:0; right:0;
		margin:auto;
		
		-webkit-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);
		-moz-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);
		box-shadow: 0 0 2rem 0 rgba(0,0,0,0.75);
	}
}

.lightbox-hide {
	opacity:0;
	top:-100%;
}
