/* ----------------------------------- \
	partials/_typography.scss - loaded
\ ----------------------------------- */

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
}

.title, .subhead {
	font-family: $headline-font-family;

}

.title {
	font-size: $headline-main-font-size;
	margin-bottom: 1.4rem;
	margin-top:2.9rem;
}

.subhead, .year-head  {
	font-size: $headline-subhead-font-size;
	border-bottom: $detail-border;
	padding-bottom: .8rem;
	margin-top:2.8rem;
	margin-bottom: 1.4rem;
}

.year-head {
	width:100%;
}

p {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin:.9rem 0;
}

i {
	font-style:italic;
}

a:link:not(.button) { color: $alt-background-color;}
a:visited:not(.button) { color: $main-foreground-color;}
